#char {
  position: fixed;
  left: 40%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

/*#char {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}*/

#leftEye {
  transition: 0.5s ease;
}

#rightEye {
  transition: 0.7s ease;
}

#leftPupil {
  transition: 0.5s ease;
  animation: blinkEyes 5s infinite ease;
}

#rightPupil {
  transition: 0.5s ease;
  animation: blinkEyes 5s infinite ease;
}

@keyframes blinkEyes {
  5% {
    height: 20px;
    fill: aqua;
    transform: translate(0, 5%);
  }
  10% {
    height: 60px;
    transform: translate(0, 0%);
  }
}

.tiredExpression {
  transform: translate(0, 0);
  animation: tired 5s ease;
}

@keyframes tired {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 20%);
    height: 20px;
  }
  90% {
    transform: translate(0, 20%);
    height: 20px;
  }
  100% {
    transform: translate(0, 0);
    height: 60px;
  }
}
