@media (max-width: 413px) {
  .title {
    font-size: 80px;
  }

  .errorBar {
    width: 20rem;
    left: 42%;
    top: 36.6%;
  }

  #char {
    transform: translate(-148%, -40%);
  }

  .pushBar {
    left: 0px;
  }

  .boxLetters {
    min-width: 23rem;
    flex-wrap: wrap;
    min-height: 4rem;
    height: 12rem;
    top: 55%;
  }

  .letters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
  }

  .letras {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .keyboard {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 400px;
    height: 150px;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .key-lines {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 40px;
  }

  #winTitle {
    position: relative;
    font-size: 50px;
    top: 5%;
  }

  #boxFirework {
    top: 22.3%;
  }

  .charWin {
    position: absolute;
    z-index: 3;
    width: 150px;
    left: 50%;
    top: 32%;
  }

  .keys {
    width: 35px;
    height: 35px;
    background-color: rgba(209, 98, 83, 0.123);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    font-size: 30px;
    box-shadow: #00000015 0px 0px 2px 2px;
  }
}

@media (max-width: 1537px) {
  .title {
    font-size: 115px;
  }

  #char {
    left: 36.7%;
    top: 28.6%;
  }
}
